@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Poppins:wght@300&family=Roboto:wght@100&display=swap');

:root {
    --main-color: #40680e;
    --highlight-color: #c9dd8e;
    --light-color: #d9e3bc;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 17pt;
    margin: 0;
}

main, header {
    padding: 1rem;
}

main {
    background-image: linear-gradient(to top, #ffffff 98.5%, #b4b4b4);
}

header {
    border-bottom: 4px solid #c9dd8e;
}

header, footer {
    background-image: linear-gradient(to right, #305208, var(--main-color), #305208);
}

h1 {
    color: var(--highlight-color);
    letter-spacing: 0.1rem;
    margin: 0;
    background: -webkit-linear-gradient(45deg, var(--highlight-color), #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

select:hover {
	opacity: 0.8;
    cursor: pointer;
}

option:hover {
	cursor: pointer;
}

img {
    max-width: 100%;
}

button {
    display: block;
    color: var(--light-color);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 7px;
    border: none;
    background-color: var(--main-color);
    font-size: 16pt;
	opacity: 1;
	transition: 0.3s;
	font-weight: 600;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    color: var(--main-color);
    background-color: var(--light-color);
}

footer {
    text-align: center;
    padding: 0.5rem;
    background-color: var(--main-color);
    color: var(--light-color);
    border-top: 4px solid #c9dd8e;
}

#new-pedigree {
	display: none;
}

.genotype-container {
    display: flex;
    flex-wrap: wrap;
}

.legend {
	display: none;
    background-color: #f8f8f8;
    border: 2px solid #000000;
}

select {
	width: auto;
}

select, #male-genotype-selection label, #female-genotype-selection label {
    padding: 1rem;
    font-size: 16pt;
    font-weight: bold;
    background-color: var(--highlight-color);
    color: var(--main-color);
    outline: 1px solid var(--main-color);
    border-radius: 7px;
    opacity: 1;
    transition: 0.3s;
}

#male-genotype-selection, #female-genotype-selection {
	display: flex;
	letter-spacing: 0.15rem;
}

.legend, #male-genotype-selection, #female-genotype-selection {
    flex-wrap: wrap;
    border-radius: 7px;
    max-width: fit-content;
    margin: 1rem 0;
}

#male-genotype-selection label, #female-genotype-selection label {
	padding: 1rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	border: 1px solid var(--main-color);
	cursor: pointer;
}

#male-genotype-selection, #female-genotype-selection {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

#male-genotype-selection input[type="radio"]:checked + label, #female-genotype-selection input[type="radio"]:checked + label {
	background-color: var(--main-color);
	color: var(--light-color);
}

input[type="radio"] {
	display: none;
}

.content {
    display: flex;
}

#carrier {
	display: none;
}

.sub {
	font-style: italic;
	margin-top: 0;
}

p {
	margin: 0.6rem 0;
	padding-top: 1rem;
}

.genotype-container {
	display: grid;
	grid-template-columns: 1fr;
}

.genotype-container p {
	margin: 0;
	font-weight: bold;
}

.question {
	display: inline-block;
}

.legend svg {
    padding: 0.25rem;
}

.legend p {
    margin: 0.75rem 1rem 0 0;
    padding: 0;
}

#loading {
	display: none;
}

#tree {
	opacity: 0;
}

#box {
	width: 100px;
	height: 100px;
	border: 1px solid var(--main-color);
	position: relative;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	border-radius: 50%;
	display: none;
}

.planet {
	width: 50px;
	height: 50px;
	background: var(--main-color);
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin:auto;
	border-radius: 50%;
}

.circle {
	width: 12px;
	height: 12px;
	background: var(--main-color);
	border-radius: 50%;
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	overflow: hidden;
	margin: auto;
	animation: circle 3s linear infinite;
}

.circle2 {
	width: 14px;
	height: 14px;
	background: var(--main-color);
	border-radius:50%;
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	overflow:hidden;
	margin:auto;
	animation: circle 2s linear infinite;
}

.circle3 {
	width: 16px;
	height: 16px;
	background: var(--main-color);
	border-radius:50%;
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	overflow:hidden;
	margin:auto;
	animation: circle 1.5s linear infinite;
}

.circle4 {
	width: 18px;
	height: 18px;
	background: var(--main-color);
	border-radius:50%;
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	overflow:hidden;
	margin:auto;
	animation: circle 1s linear infinite;
}

@keyframes circle {
	0% {
		transform: rotate(0deg)
			translate(-50px)
			rotate(0deg);
	}
	100% {
		transform: rotate(360deg)
			translate(-50px)
			rotate(-360deg);
	}
}